/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, .lang{
    color: white;
    font-size: 5px;
    text-decoration: none;

}

body{
    text-align: center;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}


/* regole header */

header{
    height: 600px;
    /* margin-bottom: 60px; */
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
#menu-header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;

}


.link-menu{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#title-bottom{
    width: 50%;
    margin: auto;
    padding-top: 200px;
    color: white;
}
#title-bottom > h1, p, button{
    margin-bottom:  20px; ;
}

.button{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    
}

.jumbo{
    border-radius: 28px;
    font-size: 18px;
    padding: 8px 18px;
}

.dark{
    background-color: #23272a;
    color: white;

}
/* regole corpo centrale */

.conteiner{
  
    margin: auto;
    
}

section{
    width: 100%;
    background-color:white;
    padding-bottom: 100px ;

}

.bg-color{
    background-color: #f6f6f6 ;

}

.settler{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin:  auto ;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding-top: 50px;
    height: 600px;
    align-items: center;

}

.settler-4{
    width: 70%;
    margin: auto;
    padding-bottom: 50px ;
    padding-top: 50px;
    text-align: center;
} 

.settler > h2, p {
    margin-top: 20px ;

}

.column-img {
    width: 60%;
}

.column-text {
    width: 35%;
}


/* regole footer  */
footer{
    /* height: 600px; */
    width: 100%;  
    background-color:  #23272a;
}

.menu-footer{
    width: 70%;
    margin: auto;
    color: white;
    
}

.link-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    text-align: left;
}

.link-footer h2, h4 {
    color: #5865f2;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    width: 100%;
}



.blue{
    background-color: #5865f2;
    color: white;
    margin-top: 20px;
}


ul{
    list-style: none;
}

.title-foote{
    width: 25%;
}

.menu-link-footer{
    width: 20px;;
}
 





